$primary-purple: #6A1B9A; 
$text-light: #FFFFFF;     
$accent-gold: #FFD700;    

// Otros colores base
$background-dark: #1A0033; 
$background-light: #F0F2F5; 
$error-red: #FF4D4F;
$success-green: #52C41A;
$active-item-color: rgba(133, 130, 130, 0.338);