@use '../../styles/colors' as colors; 

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 2rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 380px;
  margin: 2rem auto; 
  h2 {
    color: #333;
    margin-bottom: 2rem;
    font-size: 2.2rem;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem; 

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 0.9rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1rem;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      &:focus {
        border-color: colors.$primary-purple; 
        outline: none;
        box-shadow: colors.$primary-purple; 
      }
    }

    .add-photo-link {
        color: colors.$primary-purple; 
        text-decoration: none;
        font-size: 0.95rem;
        margin-top: 0.5rem;
        text-align: center;
        cursor: pointer;
        transition: color 0.3s ease;
        &:hover {
            color: colors.$primary-purple; 
        }
    }

    button[type="submit"] {
      background-color: colors.$primary-purple; 
      color: colors.$text-light; 
      padding: 1rem;
      border: none;
      border-radius: 8px;
      font-size: 1.15rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: colors.$primary-purple; 
        transform: translateY(-2px);
      }
      &:active {
        transform: translateY(0);
      }
    }
  }
}
